* {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("/Portfolio/images/waves.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: none;
  padding: 0%;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(9, 237, 191);
  background: transparent;
  font-size: xx-large;
}

.about{
    display: flex;
    justify-content: center;
    padding: 5%;
    border: 1px solid;
}

.myImage{
    padding-right: 2%;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-left: solid 2px rgb(9, 237, 191);
}

.title{
    display: flex;
    justify-content: center;
    background: transparent;
}

.title h2{
    display: flex;
    padding: 10px;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #09edbf;
    background: transparent;
}

.Projects{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("/Portfolio/images/waves.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: none;
    padding: 0%;
}

.project-links{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-links a{
    background: transparent;
    text-decoration: none;
}

.project-card:hover{
    background-color: #06f6c2;  
    p, h3 {color: white;}  
}

.project-card{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background: transparent;
    min-height: 200px;
    border: 2px solid #09edbf;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.project-card p{
    color: #09edbf;
}

.contact-links{
    display: flex;
    justify-content: center;
}

.contact-links a{
    text-decoration: none;
    margin:3%;
}

.contact-card{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 2rem;
    border: 1px solid #09edbf;
    border-radius: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-card:hover{
    background-color: #06f6c2;  
    p {color: white;}
}

.footer-text{
    display: flex;
    justify-content: center;
}

p{
    color:black;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    background: transparent;
}

h2{
    font-size: 5rem;
    color: #06f6c2;
}

h1{
    background: transparent;
}

h3{
    background: transparent;
    color: #06f6c2;
    font-weight: bolder;
    font-size: 2rem;
}